<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

 	<!-- Bootstrap Core CSS -->
  	<link href="../bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  	<!-- Custom Fonts -->
  	<link href="../bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  	<link href="../bootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  	<!-- Custom CSS -->
  	<link href="../bootstrap/css/stylish-portfolio.min.css" rel="stylesheet">
  	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	
  	<!--sweet Alert-->
  	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<title>글읽기 | 닷지닷컴</title>
<style>
	.bg-secondary {
    	background-color: #1D809F!important;
	}
	a{
		color:white;
	}
	.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    
    
}

</style>
</head>
<body>

<!-- nav -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
	<div class="container">
		<a class="navbar-brand js-scroll-trigger" href="/home">닷지닷컴</a>
	<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
	<i class="fas fa-bars"></i>
	</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1">
	            	<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/board/getBoardList">자유게시판</a>
	          	</li>
	          	<span sec:authorize="isAnonymous()">
	          		<li class="nav-item mx-0 mx-lg-1">
		            	<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/system/login">로그인</a>
		          	</li>
	          	</span>

	          	<span sec:authorize="isAuthenticated()">
		          	<li class="nav-item mx-0 mx-lg-1">
		            	<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">즐겨찾기 목록</a>
		          	</li>
		        </span>
		        <span sec:authorize="isAuthenticated()">
		          	<li class="nav-item mx-0 mx-lg-1">
            			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#">내가 쓴 글 보기</a>
          			</li>
	          	</span>
	          	<span sec:authorize="isAuthenticated()">
		          	<li class="nav-item mx-0 mx-lg-1">
            			<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/system/logout"><font color="red">로그아웃</font></a>
          			</li>
	          	</span>
	        </ul>
	    </div>
	</div>
</nav>
<form id="insertBoardFrm" action="updateBoard.do" method="post" enctype="multipart/form-data"> <!--update.do 에서 MultipartFile로 받을려면 이렇게 설정해줘야한다.-->
	<div class="container" style="margin-top: 100px;">
		<div class="content-section-heading">
	        <h3 class="text-secondary mb-0">Board</h3>
	        <h2 class="mb-5"><a href="/board/getBoardList" style="color:black; text-decoration:none">자유게시판</a></h2>
		</div>
		
		<table class="table table-hover">
			<tr>
				<th colspan="2" th:text="${board.title}"/>
			</tr>
			<tr>
				<td th:text="|${board.writer} ｜   ${#dates.format(board.createDate,'yyyy-MM-dd HH:mm')}|"/>
				<td class="text-right" th:text="|조회 ${board.cnt} ｜ 댓글 0|"/>
			</tr>
			<tr>
				<td colspan="2" th:utext="${board.content}"/>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<button type="button" class="btn btn-primary" id="likeBtn">
						좋아요 <span class="badge badge-light" id="like"></span>
					</button>
					&nbsp;&nbsp;&nbsp;
					<button type="button" class="btn btn-danger" id="disLikeBtn">
						싫어요 <span class="badge badge-light" id="disLike"></span>
					</button>
				</td>
			</tr>
			<tr>
				<th>
					첨부파일
				</th>
				<td class="text-right">
					<span th:if="${board.originalFileName !=null}">
						<a onclick="downloadFun()" th:text="|${board.fileName} (${board.fileSize})|" style="color:blue"/>
					</span>
				</td>
			</tr>
			<tr>
				<td>
					<input type="button" class="btn btn-default pull-left" value="목록" onclick="location.href='/board/getBoardList'">
					<span sec:authorize="isAuthenticated()">
						<input type="button" class="btn btn-default pull-left" value="답글" onclick="goForm2()">
					</span>
				</td>
				<td>
					<span sec:authorize="isAuthenticated()">
						<span id="gtype" th:attr="data-gtype=${board.writer}"></span>
						<input type="button" class="btn btn-default float-right" value="삭제" th:onclick="|deleteBoard('${board.seq}', document.getElementById('gtype').dataset.gtype)|">
						<input type="button" class="btn btn-default float-right" value="수정" onclick="goForm()">
					</span>
				</td>	
			</tr>
		</table>
		<!--탑 버튼-->
		<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button" data-toggle="tooltip" data-placement="left">
			<i class="fas fa-angle-up">
			</i>
		</a>
	</div>
	
	<!--다운로드 값-->
	<input type="hidden" name="originalFileName" th:value="${board.originalFileName}"> 
	
	<!--로그인 여부-->
	<span sec:authorize="isAuthenticated()">
		<input type="hidden" id="confirmLogin" value="true">
	</span>
	<input type="hidden" id="seq" th:value="${board.seq}">
</form>


<!--footer-->
<section class="content-section" id="made">
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
      	<li class="list-inline-item">
            <a href="https://github.com/mijosan" target="_blank"><img src="../img/G.png"></a>
        </li>
      
        <li class="list-inline-item">
            <a href="https://blog.naver.com/mijosan" target="_blank"><img src="../img/N.png"></a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Choi Tasean. All Rights Reserved. 2019</p>
      <br><p class="text-muted small mb-0">010 2613 7832</p>
    </div>
  </footer>
</section>
<!--로딩이미지-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
	//파일 다운로드
	function downloadFun(){
	
		$("#insertBoardFrm").attr("action","download.do");
	
		$("#insertBoardFrm").submit();
	
	}
	
	//글삭제
	function deleteBoard(seq, writer){
		swal({
			  title: "정말로 게시글을 하시겠습니까?",
			  text: "한번 탈퇴하면 게시글 복구가 불가능 합니다.",
			  icon: "warning",
			  buttons: true,
			  dangerMode: true,
			})
			.then((willDelete) => {
			  if (willDelete) {
				  $.ajax({
	    				type : 'post',
	    				url : "/board/deleteBoard",
	    				contentType : "application/json", //서버에 보내는 타입
	    				data : JSON.stringify({"seq":seq,"writer":writer}),
	    				dataType : "json", //서버가 리턴하는 타입
	    				success : function(result){
	    					if(result.cnt == 1){
	    						$(location).attr('href', '/board/getBoardList');
	    					}else{
	    						swal("삭제할수 있는 권한이 없습니다.", "", "error");
	    					}
	    		    	},
	    		    
	    		    	error : function(){
	    		    		swal("비정상적으로 오류로 인해 게시글을 삭제하지 못하였습니다.", "", "error");
	    		    	}
	    			});
				  
			  } else {
				  
			    swal("취소 되었습니다.");
			  }
			});
	}
</script>

<script>
$(document).ready(function(){	
	
	 $.ajax({
			type : 'post',
			url : "/board/updateRecommendation",
			contentType : "application/json", //서버에 보내는 타입
			data : JSON.stringify({"b_seq":$("#seq").val(), "re":"likeAnddisLike"}),
			dataType : "json", //서버가 리턴하는 타입
			success : function(result){
					$("#like").html(result.map.likeCnt);
					$("#disLike").html(result.map.disLikeCnt);
				},
	    	error : function(){
	    		
	    	}
		});
		
	$("#likeBtn").click(function(){
		if($("#confirmLogin").val() == "true"){//로그인 했다면
			 $.ajax({
 				type : 'post',
 				url : "/board/updateRecommendation",
 				contentType : "application/json", //서버에 보내는 타입
 				data : JSON.stringify({"b_seq":$("#seq").val(), "re":"like"}),
 				dataType : "json", //서버가 리턴하는 타입
 				success : function(result){
 					if(result.map.cnt == 1){
 						swal("좋아요 !", "", "success");
 						$("#like").html(result.map.count);
 					}else if(result.map.cnt == 0){
 						swal("좋아요를 취소 하였습니다.", "", "error");
 						$("#like").html(result.map.count);
 					}
 		    	},
 		    	error : function(){
 		    		swal("비정상적으로 오류로 인해 좋아요를 하지 못하였습니다.", "", "error");
 		    	}
 			});
		}else{
			$(location).attr('href','/system/login');
		}
	});
	
	$("#disLikeBtn").click(function(){
		if($("#confirmLogin").val() == "true"){
			if($("#confirmLogin").val() == "true"){//로그인 했다면
				 $.ajax({
	 				type : 'post',
	 				url : "/board/updateRecommendation",
	 				contentType : "application/json", //서버에 보내는 타입
	 				data : JSON.stringify({"b_seq":$("#seq").val(), "re":"disLike"}),
	 				dataType : "json", //서버가 리턴하는 타입
	 				success : function(result){
	 					if(result.map.cnt == 1){
	 						swal("싫어요 !", "", "success");
	 						$("#disLike").html(result.map.count);
	 					}else if(result.map.cnt == 0){
	 						swal("싫어요를 취소 하였습니다", "", "error");
	 						$("#disLike").html(result.map.count);
	 					}
	 		    	},
	 		    	error : function(){
	 		    		swal("비정상적으로 오류로 인해 싫어요를 못하였습니다.", "", "error");
	 		    	}
	 			});
			}else{
				$(location).attr('href','/system/login');
			}
		}else{
			$(location).attr('href','/system/login');
		}
	});
	/*스크롤*/
    $(window).scroll(function () {
           if ($(this).scrollTop() > 50) {
               $('#back-to-top').fadeIn();
           } else {
               $('#back-to-top').fadeOut();
           }
       });
       // scroll body to 0px on click
       $('#back-to-top').click(function () {
           $('#back-to-top').tooltip('hide');
           $('body,html').animate({
               scrollTop: 0
           }, 300);
           return false;
       });
       
       $('#back-to-top').tooltip('show');
});
</script>

</body>
</html>