<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>닷지닷컴</title>

  <!-- Bootstrap Core CSS -->
  <link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="bootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="bootstrap/css/stylish-portfolio.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="js-scroll-trigger" href="/home">닷지닷컴</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="/boards">커뮤니티</a>
      </li>
      
      <span sec:authorize="isAuthenticated()">
			 <li class="sidebar-nav-item">
		        <a class="js-scroll-trigger" th:href="@{/system/myInfo}">내 정보</a>
		     </li>
		     <li class="sidebar-nav-item">
		        <a class="js-scroll-trigger" th:href="@{/system/logout}"><font color="red"><b>로그아웃</b></font></a>
		     </li>
	  </span>
	  
	  <span sec:authorize="isAnonymous()">
	      <li class="sidebar-nav-item">
	      	<a class="js-scroll-trigger" href="system/login">로그인</a>
	      </li>
      </span>
      
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#made">만든이</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">닷지닷컴</h1>
      
      <h3 class="mb-5">
      <span sec:authorize="isAuthenticated()">
			<b><font color="white">
				<span sec:authentication="principal.member.id"></span>
			님
			</font></b>
	  </span>
      <em> 여러 재밌는 글들과 정보를 공유하며 놀아요 !</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">둘러보기</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>게시글을 작성하며 정보를 공유하세요 !!</h2>
          <p class="lead mb-5">페이스북 공유 연동
            <a href="https://unsplash.com/"></a>!</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#services">더 많은 기능</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="content-section bg-primary text-white text-center" id="services">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Services</h3>
        <h2 class="mb-5">닷지닷컴이 제공합니다</h2>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Mobile</strong>
          </h4>
          <p class="text-faded mb-0">반응형을 적용한 홈페이지</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>various functions</strong>
          </h4>
          <p class="text-faded mb-0">네이버 스마트 에디터 2.0 적용</p>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Like</strong>
          </h4>
          <p class="text-faded mb-0">좋아요를 눌러 게시글 즐겨찾기</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">계층형 게시판을 이용한 Q&A</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Callout -->
  <section class="callout">
    <div class="container text-center">
      <h2 class="mx-auto mb-5">바로 방문하기</h2>
      <a class="btn btn-primary btn-xl" href="/board/getBoardList">들어가기</a>
    </div>
  </section>
  
 <!-- Map -->
  <section id="contact" class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.2183779708129!2d128.82656418362464!3d35.20524745506418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568cf4657519957%3A0xe89ca63e88c6cb7!2z6rK97IOB64Ko64-EIOq5gO2VtOyLnCDsnqXsnKDrqbQg6riI6rSA64yA66Gc!5e0!3m2!1sko!2skr!4v1567481433857!5m2!1sko!2skr" width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
    <br />
    <small>
      <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d969.2183779708129!2d128.82656418362464!3d35.20524745506418!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3568cf4657519957%3A0xe89ca63e88c6cb7!2z6rK97IOB64Ko64-EIOq5gO2VtOyLnCDsnqXsnKDrqbQg6riI6rSA64yA66Gc!5e0!3m2!1sko!2skr!4v1567481433857!5m2!1sko!2skr"></a>
    </small>
  </section>
  
  <!-- Portfolio -->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>닷지닷컴</h2>
                <p class="mb-0">Spring Boot + Spring Security + JPA + JUnit + ThymeLeaf + MySql + OpenApi...</p>
              </span>
            </span>
            <img class="img-fluid" src="/bootstrap/img/po2.PNG" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="http://tshotel.cafe24.com/"  target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>TS호텔</h2>
                <p class="mb-0">Spring Framework + Mybatis + MariaDB + Oauth2.0 + OpenApi</p>
              </span>
            </span>
            <img class="img-fluid" src="/bootstrap/img/po1.PNG" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="http://erpf.cafe24.com/erp/mainhome.jsp" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>WEB ERP</h2>
                <p class="mb-0">Jsp + Oracle + Model 1 Architecture + OpenApi</p>
              </span>
            </span>
            <img class="img-fluid" src="bootstrap/img/po3.PNG" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="https://www.youtube.com/watch?v=dxs2MYm2VAE" target="_blank">
            <span class="caption">
              <span class="caption-content">
                <h2>ERP</h2>
                <p class="mb-0">Java + Swing + MySql + OpenApi</p>  
              </span>
            </span>
            <img class="img-fluid" src="bootstrap/img/po4.PNG" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer -->
  <section class="content-section" id="made">
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
      	<li class="list-inline-item">
            <a href="https://github.com/mijosan" target="_blank"><img src="img/G.png"></a>
        </li>
      
        <li class="list-inline-item">
            <a href="https://blog.naver.com/mijosan" target="_blank"><img src="img/N.png"></a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Choi Tasean. All Rights Reserved. 2019</p>
      <br><p class="text-muted small mb-0">010 2613 7832</p>
    </div>
  </footer>
  </section>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="bootstrap/vendor/jquery/jquery.min.js"></script>
  <script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="bootstrap/js/stylish-portfolio.min.js"></script>

</body>

</html>
